*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  font-size: 62.5%;
  font-family: 'Mukta', sans-serif;
}
a {
  font-size: 5rem;
  text-decoration: none;
  color: #b52929;
}
a:hover {
  color: rgba(0, 0, 0, .75);
}
.button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 4rem;
  width: 15rem;
}
hr {
  width: 10rem;
  font-weight: bold;
  border: 2px solid black;
}
header {
  height: 15vh;
  display: flex;
  background: rgb(232, 244, 240);
}
.headerLogo {
  width: 25%;
}
.headerUl {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  border: 3px solid transparent;
}
main {
  position: relative;
  height: 85vh;
}
.mainHeroImg {
  height: 100%;
  width: 100%;
  background-position: cover;
  background-repeat: no-repeat;
}
.divAbsolute {
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 1%;
}
.h1Div {
  font-size: 6rem;
  line-height: 125%;
  height: 350px;
  width: 500px;
  display: flex;
  padding: 10%;
  color: white;
  background: rgba(180, 30, 30, .9);
}
.divForm {
  position: absolute;
  top: 80%;
  left: 10%;
  display: flex;
}
.theForm {
  height: 4rem;
  width: 20rem;
  margin-left: 3rem;
}
.about {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
h2 {
  font-size: 9rem;
  padding-top: 5%;
}
p {
  font-size: 3.5rem;
  line-height: 150%;
  padding: 1%;
}
.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(226, 226, 174);
}
.white {
  border: 2px solid white;
}
.menuMain {
  font-size: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}
.divLeft {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menuH3 {
  font-size: 5.5rem;
  text-decoration: underline;
  padding-top: 5%;
}
.food {
  padding: 1%;
}
h4 {
  color: #b52929;
  font-size: 4rem;
  padding-top: 5%;
}
span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  color: black;
}
.divMiddle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.divRight {
  width: 100%;
  display: flex;
  justify-content: center;
}
.foot {
  padding-top: 100px;
  height: 800px;
  background-image: url(https://i.ibb.co/58WgD14/foot-bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h5 {
  font-size: 6rem;
  text-decoration: underline;
  padding: 25px;
}
p {
  margin-left: 25px;
  width: 40%;
  font-size: 2rem;
}
form {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.margs {
  margin: 5px 25px;
  height: 40px;
}
textarea {
  margin: 5px 25px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width:992px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .headerLogo {
    height: 50%;
  }
  .headerUl {
    height: 50%;
  }
  .rwrds {
    display: none;
  }
  p {
    width: 75%;
  line-height: 100%;
  }
}